

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px dotted red; */
}

body {
    background-color:#fb8a00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

p{  
    color: white;
    font-size: .5cm;
    margin-bottom: 10px;
}

.start-quiz-button {
    outline:none;
    font-size:.5cm;

}


.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;


}

.high-score-timer-bar p{
    float: right;
    background-color: black;


}

.inner-container{
    background-color:black;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

h1, h2{
    margin-bottom: 10px;
    text-align: center;
    color: darkgoldenrod;
}

.welcome-screen{
    display: block;
    margin-bottom:30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: darkslategray;


}
main{
    display: block;
}

.welcome-screen p{
    text-align: center;
    
}

.welcome-screen button{
    display: block;
    margin: 0 auto;

}

main{
    display: block;
}


.questions{
    display: none;
    background-color: darkslategray;
    margin-bottom:30vh;
    margin-left: 10%;
    margin-right: 10%;


}
.choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choices button{
    padding: 5px;
    width: 70%;
    margin: 10px;
}


.scoreboard{
    display: none;



}

.score-screen{
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategray;
}

.score-screen ol{
    overflow-y: scroll;

}


li {
    list-style: none;
}

.highscores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.backbutton{
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}