body {
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    background-color: #0d2b66;
    color: white;
    padding: 10px;
  }
  
  #quiz {
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px;
  }
  
  button {
    background-color: #0d2b66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1b4ca5;
  }
  
  #game-over {
    text-align: center;
    display: none;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50px;
  }
  
  #submit-score {
    background-color: #0d2b66;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-score:hover {
    background-color: #1b4ca5;
  }
  
  footer {
    text-align: center;
    background-color: #0d2b66;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  